@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

body {
    font-family: 'Langar', cursive;

    margin: 0px;
    padding: 0px;
    background-color: black;
}

.main {
    width: 100%;
    height: 100%;
    color: white;
}

#me {
    color: white;
    font-size: 128px;
}

#idostuff {
    font-size: 80px;
}
